<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tvitchtvapi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <h2 class="text-center">Twitch streamers</h2>
                        </div>
                    </div>
                    <div>
                        <div v-for="channel in twitchChannels" class="{{channel.class}} animated bounceInUp">
                            <div class="panel-heading">
                                <img :src="channel.logo" alt="" class="img-thumbnail channel-logo">
                                <div class="panel-title channel-name">
                                    <a :href="channel.url" target="_blank">
                                        <h5>{{channel.name}}</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <strong class="text-uppercase">{{channel.statusText}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre>{{$data.twitchChannels | json}}</pre>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.0/vue-resource.js"></script>
    <script src="main.js"></script>
</body>

</html>
