body {
    padding-top: 20px;
}
pre {
    margin-top: 20px;
}

/*.channel-item {
    height: 40px;
    margin: 10px;
}*/

.channel-item img {
    height: 40px;
    width: 40px;
}

.channel-item a, a:hover, a:focus {
    text-decoration: none;
    color: #23527c;
}

.channel-item ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.channel-item li {
    width: 30%;
}

.channel-logo {
    height: 40px;
    width: 40px; 
    margin-right: 10px;
}

.channel-name {
    display: inline-block
}


